# checkov:skip=CKV_OPENAPI_5: /health intentionally opts out of global auth via security: []
# checkov:skip=CKV_OPENAPI_21: array schemas without maxItems are intentional for telemetry shapes
openapi: 3.1.0
info:
  title: Dealroom API
  version: '2026-10-02'
  description: >-
    REST API for the Dealroom platform — companies, funds, founders, investors, funding rounds, valuations, taxonomy, news, and aggregate analytics across all of them. Authentication uses Auth0 (Bearer JWT or OAuth2 client_credentials). All endpoints are versioned via the `API-Version` header (Stripe-style date-based versioning).
  contact:
    name: Dealroom API support
    email: support@dealroom.co
    url: 'https://dealroom.co'
  termsOfService: 'https://dealroom.co/terms'
  license:
    name: Proprietary — Dealroom commercial license
    url: 'https://dealroom.co/terms'
servers:
  - url: https://api.beta.dealroom.app
    description: Beta
security:
  - bearerAuth: []
  - oauth2: []
tags:
  - name: Discovery
    description: API root discovery and functional namespaces.
  - name: Entities
    description: >-
      Companies, investors, people, universities, and other organisations. Filter, sort, and paginate the unified entity index. The term `investor` refers to the investment firm; `fund` refers to the capital vehicle it raises.
  - name: Companies
    description: >-
      Company profiles — the `organization_subtype = company` subset of entities (excludes investors, universities, and gov/NGOs). Same response shape as the entity index, scoped to companies.
  - name: Universities
    description: >-
      University profiles — the `organization_subtype = university` subset of entities. The `university` sub-object carries alumni metrics.
  - name: Government & NGO
    description: Government bodies and NGOs — the `organization_subtype = gov_ngo` subset of entities.
  - name: Transactions
    description: 'Funding rounds, equity events, debt, grants, exits, and other company-level financial events.'
  - name: Valuations
    description: Company valuation history by year and month.
  - name: Investors
    description: >-
      Investor profiles (VCs, corporates, angels, family offices, governments). Subset of entities where `is_investor = true`. An investor is the firm that makes investments; the capital vehicles it raises are funds available via `/investors/{id}/funds`.
  - name: Funds
    description: >-
      Funds — the capital vehicles investor firms raise (e.g. "Fund III", $200M, 2024). Browse/filter by manager, type, size, and vintage; each fund links to its manager (GP). Fund size (`amount`) converts to the requested `?currency=` (default USD); `amount_source` carries the original native-currency amount.
  - name: People
    description: >-
      Person profiles (founders, executives, angels, and others). Subset of entities where `entity_type = 'person'`. Same response shape as founders, with company associations, education, and tags.
  - name: Founders
    description: >-
      Founder profiles with company associations and education history. Subset of entities where `is_founder = true`.
  - name: News
    description: 'Curated news articles about companies, funds, deals, sectors, and events.'
  - name: Jobs
    description: 'Active job openings posted by companies, with hiring-trend signals.'
  - name: Aggregate
    description: >-
      Composable single- and multi-metric aggregations across companies, funding rounds, valuations, founders, investors, entities, and fundings.
  - name: Timeseries
    description: 'Yearly entity metrics (employees, revenue, valuation).'
  - name: Filters
    description: >-
      Filter registry discovery and value lookup. Use `/reference/filters` to discover available filters per scope and `/reference/filters/:key/values` to look up valid values.
  - name: Health
    description: 'Liveness probe (public, unauthenticated).'
  - name: Search
    description: >-
      Cross-resource fuzzy search across companies, investors, people, universities, and government & NGO bodies.
x-tagGroups:
  - name: Data
    tags:
      - Entities
      - Companies
      - Universities
      - Government & NGO
      - Transactions
      - Valuations
      - Investors
      - Funds
      - People
      - Founders
      - News
      - Jobs
      - Search
  - name: Analytics
    tags:
      - Aggregate
      - Timeseries
  - name: Reference
    tags:
      - Discovery
      - Filters
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Auth0 JWT access token. Paste a token obtained from your preferred OAuth2 flow. For machine-to-machine use, the OAuth2 client_credentials scheme below can mint a token directly from your `client_id` / `client_secret` inside the Swagger UI Authorize dialog.
    oauth2:
      type: oauth2
      description: >-
        OAuth2 client-credentials flow against the Dealroom Auth0 tenant. Use the `client_id` / `client_secret` from a Programmatic API key. Tokens are valid for 24h — Swagger UI will reuse the same token across operations. Revoking or deactivating a key rejects it on the next request (within a ≤5-minute server-side cache window), not at token expiry.
      flows:
        clientCredentials:
          tokenUrl: 'https://accounts.dealroom.co/oauth/token'
          scopes:
            'read:entities': 'Grant the read:entities permission'
            'read:transactions': 'Grant the read:transactions permission'
            'read:valuations': 'Grant the read:valuations permission'
            'read:investors': 'Grant the read:investors permission'
            'read:founders': 'Grant the read:founders permission'
            'read:dimensions': 'Grant the read:dimensions permission'
            'read:timeseries': 'Grant the read:timeseries permission'
            'read:aggregate': 'Grant the read:aggregate permission'
            'read:news': 'Grant the read:news permission'
            'read:jobs': 'Grant the read:jobs permission'
            'read:people': 'Grant the read:people permission'
            'read:search': 'Grant the read:search permission'
  schemas:
    PartialDate:
      type: string
      pattern: '^\d{4}(-\d{2}(-\d{2})?)?$'
      description: >-
        A date at the precision the source knows it. The value's length is its precision: `YYYY` when only the year is known, `YYYY-MM` for the month, `YYYY-MM-DD` for the day. Never padded: an unknown month or day shortens the value rather than defaulting to `01`. Deliberately not `format: date`, which requires a full day.
      example: 2024-03
    HealthResponse:
      type: object
      properties:
        status:
          type: string
        timestamp:
          type: string
        database:
          type: string
      required:
        - status
        - timestamp
        - database
    DiscoveryResponse:
      type: object
      properties:
        version:
          type: string
          example: '2026-06-15'
        groups:
          type: object
          additionalProperties:
            type: object
            properties:
              description:
                type: string
              url:
                type: string
            required:
              - description
              - url
            example:
              description: 'Core domain entities (companies, investors, founders).'
              url: /data
        docs:
          type: string
          format: uri
          example: 'https://developers.dealroom.co'
        openapi:
          type: string
          example: /openapi
      required:
        - version
        - groups
        - docs
    NamespaceDiscoveryResponse:
      type: object
      properties:
        version:
          type: string
          example: '2026-06-15'
        namespace:
          type: string
          example: data
        description:
          type: string
        resources:
          type: object
          additionalProperties:
            type: object
            properties:
              description:
                type: string
              url:
                type: string
            required:
              - description
              - url
            example:
              description: 'Core domain entities (companies, investors, founders).'
              url: /data
        docs:
          type: string
          format: uri
          example: 'https://developers.dealroom.co'
        openapi:
          type: string
          example: /openapi
      required:
        - version
        - namespace
        - description
        - resources
        - docs
    EntityListResponse:
      oneOf:
        - $ref: '#/components/schemas/EntityListResponseFull'
        - $ref: '#/components/schemas/EntityListResponseSummary'
      discriminator:
        propertyName: view
        mapping:
          full: '#/components/schemas/EntityListResponseFull'
          summary: '#/components/schemas/EntityListResponseSummary'
      description: 'Entities: full rows by default, summary rows with `view=summary`.'
      type: object
    EntityListResponseFull:
      type: object
      properties:
        view:
          type: string
          enum:
            - full
          description: 'The view served: full rows.'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Entity'
        page:
          $ref: '#/components/schemas/CappedPaginationPage'
        currency:
          type: string
      required:
        - view
        - data
        - page
        - currency
      title: Entities — full rows
    Entity:
      oneOf:
        - $ref: '#/components/schemas/EntityPerson'
        - $ref: '#/components/schemas/EntityOrganization'
      discriminator:
        propertyName: type
        mapping:
          person: '#/components/schemas/EntityPerson'
          organization: '#/components/schemas/EntityOrganization'
      type: object
    EntityPerson:
      type: object
      properties:
        uuid:
          type: string
          description: Stable UUID of the entity; the sole public identifier.
          example: 345d1ab6-33df-4759-9e17-0d0c0ec9ab1c
        type:
          type: string
          enum:
            - person
          description: >-
            Top-level entity type — exactly one of `organization` or `person`. For organizations, `subtype` carries the specific kind (company / university / gov_ngo / investor). Persons always have a null `subtype`.
        subtype:
          type: 'null'
          description: >-
            Organization subtype — one of `company`, `university`, `gov_ngo`, `investor`. Mutually exclusive. Always null for persons.
          example: null
        name:
          type: string
          description: Display name.
          example: Patrick Collison
        tagline:
          type:
            - string
            - 'null'
          description: One-line description.
        about:
          type:
            - string
            - 'null'
          description: Long-form description.
        image:
          type:
            - string
            - 'null'
          description: Absolute profile image URL.
        dealroom_url:
          type:
            - string
            - 'null'
          description: Canonical profile URL on app.dealroom.co.
        links:
          type: object
          properties:
            linkedin:
              type:
                - string
                - 'null'
              description: LinkedIn profile URL.
            twitter:
              type:
                - string
                - 'null'
              description: Twitter / X profile URL.
            angellist:
              type:
                - string
                - 'null'
              description: AngelList URL or handle.
            crunchbase:
              type:
                - string
                - 'null'
              description: Crunchbase profile URL.
          required:
            - linkedin
            - twitter
            - angellist
            - crunchbase
          description: The person's own presence on the web; each null when unknown.
        locations:
          type: array
          items:
            type: object
            properties:
              role:
                $ref: '#/components/schemas/LocationRole'
              city:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: City; null when not known.
              state:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: State or region; null when none.
              country:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: Country.
              continent:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: Continent.
              lat:
                type:
                  - number
                  - 'null'
                description: 'Entity coordinates when known, otherwise the city centroid.'
              lon:
                type:
                  - number
                  - 'null'
                description: 'Entity coordinates when known, otherwise the city centroid.'
            required:
              - role
              - city
              - state
              - country
              - continent
              - lat
              - lon
          description: Where the person is based; empty when unknown.
        roles:
          type: array
          items:
            $ref: '#/components/schemas/EntityRole'
          description: 'Roles the person plays: `founder`, `executive`, `partner`, `investor`.'
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/Classification'
          description: Dealroom founder labels; empty when none.
        taxonomy:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
                description: Numeric identifier of the tag.
              name:
                type: string
                description: Display name of the tag.
              type:
                $ref: '#/components/schemas/TagType'
            required:
              - id
              - name
              - type
          description: 'Taxonomy terms, backgrounds included; empty when none.'
        gender:
          anyOf:
            - $ref: '#/components/schemas/Gender'
            - type: 'null'
          description: Gender of the person.
        signal_rating:
          type:
            - number
            - 'null'
          description: Dealroom founder Signal rating (0-100).
        investor:
          type:
            - object
            - 'null'
          properties:
            rank:
              type:
                - number
                - 'null'
              description: Dealroom investor ranking (1 = top). Full view only.
            types:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                    description: Tag id.
                  name:
                    type: string
                    description: Display name.
                  code:
                    type: string
                    description: Machine-readable code.
                required:
                  - id
                  - name
                  - code
              description: Investor types; empty when none.
            stages:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                    description: Tag id.
                  name:
                    type: string
                    description: Display name.
                  code:
                    type: string
                    description: Machine-readable code.
                required:
                  - id
                  - name
                  - code
              description: Stages invested in; empty when none.
            deal_size:
              type:
                - object
                - 'null'
              properties:
                min:
                  type:
                    - number
                    - 'null'
                  description: 'Smallest ticket, active currency.'
                max:
                  type:
                    - number
                    - 'null'
                  description: 'Largest ticket, active currency.'
              required:
                - min
                - max
              description: Ticket size range; null when unknown.
            investments:
              type: object
              properties:
                count:
                  type:
                    - number
                    - 'null'
                  description: Investments made.
                total_invested:
                  type:
                    - number
                    - 'null'
                  description: >-
                    Total size of the funding rounds the investor participated in (the full round amounts, not the investor's own ticket), active currency.
                preferred_round:
                  type:
                    - string
                    - 'null'
                  description: 'Most frequent round stage, e.g. `series_a`.'
                last_round_date:
                  anyOf:
                    - $ref: '#/components/schemas/PartialDate'
                    - type: 'null'
                  description: 'Date of the most recent investment round, at source precision.'
              required:
                - count
                - total_invested
                - preferred_round
                - last_round_date
              description: Investment activity.
            portfolio:
              type:
                - object
                - 'null'
              properties:
                rounds_count:
                  type:
                    - number
                    - 'null'
                  description: Funding rounds taken part in.
                total_valuation:
                  type:
                    - number
                    - 'null'
                  description: 'Combined latest valuation of the companies backed, active currency.'
                companies:
                  type: object
                  properties:
                    total:
                      type: integer
                      description: How many exist in total.
                    sort:
                      type: string
                      enum:
                        - '-last_round_date'
                      description: 'The order of `items`, in the sub-resource''s `sort` syntax.'
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          is_lead:
                            type: boolean
                            description: Led at least one of these rounds.
                          rounds_count:
                            type: integer
                            description: Rounds taken part in.
                          last_round_date:
                            anyOf:
                              - $ref: '#/components/schemas/PartialDate'
                              - type: 'null'
                            description: 'Date of the most recent of those rounds, at source precision.'
                          company:
                            $ref: '#/components/schemas/EntityRef'
                        required:
                          - is_lead
                          - rounds_count
                          - last_round_date
                          - company
                      description: 'The first items, in `sort` order.'
                  required:
                    - total
                    - sort
                    - items
                  description: 'Companies backed: the first 10 of `/investors/{id}/portfolio`.'
              required:
                - rounds_count
                - total_valuation
                - companies
              description: Companies backed; detail on the `/portfolio` sub-resource. Full view only.
            exits:
              type:
                - object
                - 'null'
              properties:
                count:
                  type:
                    - number
                    - 'null'
                  description: Portfolio companies that exited.
                total_value:
                  type:
                    - number
                    - 'null'
                  description: 'Combined exit value, active currency.'
                pct:
                  type:
                    - number
                    - 'null'
                  description: 'Share of the portfolio that exited, %.'
              required:
                - count
                - total_value
                - pct
              description: Portfolio exits. Full view only.
            match:
              type:
                - object
                - 'null'
              properties:
                companies_count:
                  type:
                    - number
                    - 'null'
                  description: Portfolio companies matching the request's portfolio filters.
                invested:
                  type:
                    - number
                    - 'null'
                  description: 'Invested in those companies, active currency.'
              required:
                - companies_count
                - invested
              description: >-
                Portfolio companies matching the request's `portfolio_count_*` filters; null when the request carries none. Full view only.
          required:
            - rank
            - types
            - stages
            - deal_size
            - investments
            - portfolio
            - exits
            - match
          description: The person's investing profile; null unless they invest.
        founded_companies:
          type:
            - object
            - 'null'
          properties:
            count:
              type:
                - number
                - 'null'
              description: Companies the person founded.
            total_funding:
              type:
                - number
                - 'null'
              description: 'Combined funding of the companies founded, active currency.'
          required:
            - count
            - total_funding
          description: Companies the person founded. Full view only.
        career:
          type: object
          properties:
            total:
              type: integer
              description: How many exist in total.
            sort:
              type: string
              enum:
                - '-is_founder,is_past,-start_date'
              description: 'The order of `items`, in the sub-resource''s `sort` syntax.'
            items:
              type: array
              items:
                type: object
                properties:
                  raw_title:
                    type:
                      - string
                      - 'null'
                    description: Job title as recorded.
                  titles:
                    type: array
                    items:
                      type: string
                    description: Normalized job titles.
                  is_founder:
                    type: boolean
                    description: Founded the organization.
                  is_executive:
                    type: boolean
                    description: Holds an executive role there.
                  is_partner:
                    type: boolean
                    description: Holds a partner role there.
                  is_past:
                    type: boolean
                    description: Every role there has ended.
                  start_date:
                    anyOf:
                      - $ref: '#/components/schemas/PartialDate'
                      - type: 'null'
                    description: 'When the first role there started, at source precision.'
                  end_date:
                    anyOf:
                      - $ref: '#/components/schemas/PartialDate'
                      - type: 'null'
                    description: When the last role there ended; null while any is current.
                  company:
                    $ref: '#/components/schemas/EntityRef'
                required:
                  - raw_title
                  - titles
                  - is_founder
                  - is_executive
                  - is_partner
                  - is_past
                  - start_date
                  - end_date
                  - company
              description: 'The first items, in `sort` order.'
          required:
            - total
            - sort
            - items
          description: >-
            Organizations the person is or was part of: the first 5 of `/people/{id}/career`, founding roles first, then current ones.
        education:
          type: object
          properties:
            total:
              type: integer
              description: How many exist in total.
            sort:
              type: string
              enum:
                - '-start_date'
              description: 'The order of `items`, in the sub-resource''s `sort` syntax.'
            items:
              type: array
              items:
                type: object
                properties:
                  degree:
                    type:
                      - object
                      - 'null'
                    properties:
                      id:
                        type: number
                        description: Numeric id.
                      name:
                        type: string
                        description: Display name.
                    required:
                      - id
                      - name
                    description: 'Degree obtained, when known.'
                  majors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          description: Numeric id.
                        name:
                          type: string
                          description: Display name.
                      required:
                        - id
                        - name
                    description: Fields of study.
                  start_date:
                    anyOf:
                      - $ref: '#/components/schemas/PartialDate'
                      - type: 'null'
                    description: When the studies started.
                  end_date:
                    anyOf:
                      - $ref: '#/components/schemas/PartialDate'
                      - type: 'null'
                    description: When the studies ended.
                  university:
                    $ref: '#/components/schemas/EntityRef'
                required:
                  - degree
                  - majors
                  - start_date
                  - end_date
                  - university
              description: 'The first items, in `sort` order.'
          required:
            - total
            - sort
            - items
          description: 'Education records: the first 5 of `/people/{id}/education`, most recent first.'
        available:
          type: array
          items:
            $ref: '#/components/schemas/PersonFullBlock'
          description: >-
            Full-only blocks that hold data for this row, listed even when the caller's tier withholds them.
        added_at:
          type:
            - string
            - 'null'
          description: When the organization was added to Dealroom (RFC 3339).
        updated_at:
          type:
            - string
            - 'null'
          description: When the record was last modified (RFC 3339).
      required:
        - uuid
        - type
        - subtype
        - name
        - tagline
        - about
        - image
        - dealroom_url
        - links
        - locations
        - roles
        - classifications
        - taxonomy
        - gender
        - signal_rating
        - investor
        - founded_companies
        - career
        - education
        - available
        - added_at
        - updated_at
      title: Person
    LocationRole:
      type: string
      enum:
        - hq
        - founding
        - office
      description: >-
        `hq`, `founding` or `office`. An entity has at most one `hq` and one `founding` location, and any number of offices.
    EntityRole:
      type: string
      enum:
        - founder
        - executive
        - partner
        - investor
        - limited_partner
        - fund_manager
      description: >-
        A role the entity plays: person roles (founder, executive, partner, investor) and organization roles (investor, limited_partner, fund_manager).
    Classification:
      type: string
      enum:
        - startup
        - colt
        - titan
        - rising_star
        - spinout
        - thoroughbred
        - unicorn
        - vc_backed
        - funded
        - exited
        - pe_owned
        - serial_founder
        - super_founder
        - promising_founder
        - strong_founder
      description: >-
        A Dealroom label. New values are added without a version change, so a client must tolerate a value it does not recognise.
    TagType:
      type: string
      enum:
        - sector
        - technology
        - industry
        - sub_industry
        - business_model
        - income_stream
        - client_focus
        - sdg
        - ownership
        - techstack_category
        - deal_structure
        - growth_stage
        - investor_type
        - background
      description: 'Category of a tag (e.g. industry, sector, technology).'
    Gender:
      type: string
      enum:
        - male
        - female
        - non_binary
        - prefer_not_to_say
      description: Gender of a person.
    EntityRef:
      type: object
      properties:
        uuid:
          type: string
          description: Stable UUID of the entity.
        type:
          $ref: '#/components/schemas/EntityType'
        subtype:
          anyOf:
            - $ref: '#/components/schemas/OrganizationSubtype'
            - type: 'null'
          description: Organization subtype; always null for a person.
        name:
          type: string
          description: Display name.
        image:
          type:
            - string
            - 'null'
          description: Absolute image URL; null when none.
        dealroom_url:
          type:
            - string
            - 'null'
          description: Canonical profile URL on app.dealroom.co.
      required:
        - uuid
        - type
        - subtype
        - name
        - image
        - dealroom_url
      description: >-
        The identity of an entity embedded in another entity's response. Closed: richer detail lives on the sub-resource, where tier redaction can reach it.
    EntityType:
      type: string
      enum:
        - organization
        - person
      description: 'Top-level entity type: `organization` or `person`.'
    OrganizationSubtype:
      type: string
      enum:
        - company
        - university
        - gov_ngo
        - investor
      description: 'The kind of organization: company, university, gov_ngo or investor.'
    PersonFullBlock:
      type: string
      enum:
        - founded_companies
        - career
        - education
        - portfolio
        - exits
        - match
      description: 'A full-only block of a person row, as `available[]` lists it.'
    EntityOrganization:
      oneOf:
        - $ref: '#/components/schemas/EntityCompany'
        - $ref: '#/components/schemas/EntityUniversity'
        - $ref: '#/components/schemas/EntityGovNgo'
        - $ref: '#/components/schemas/EntityInvestor'
      discriminator:
        propertyName: subtype
        mapping:
          company: '#/components/schemas/EntityCompany'
          university: '#/components/schemas/EntityUniversity'
          gov_ngo: '#/components/schemas/EntityGovNgo'
          investor: '#/components/schemas/EntityInvestor'
      title: Organization
      type: object
    EntityCompany:
      type: object
      properties:
        uuid:
          type: string
          description: Stable UUID of the entity; the sole public identifier.
          example: 345d1ab6-33df-4759-9e17-0d0c0ec9ab1c
        type:
          type: string
          enum:
            - organization
          description: >-
            Top-level entity type — exactly one of `organization` or `person`. For organizations, `subtype` carries the specific kind (company / university / gov_ngo / investor). Persons always have a null `subtype`.
        domain:
          type:
            - string
            - 'null'
          description: 'Registrable domain, e.g. "stripe.com".'
          example: stripe.com
        name:
          type: string
          description: Display name.
          example: Stripe
        tagline:
          type:
            - string
            - 'null'
          description: One-line description.
        about:
          type:
            - string
            - 'null'
          description: Long-form description.
        image:
          type:
            - string
            - 'null'
          description: Absolute logo URL.
        dealroom_url:
          type:
            - string
            - 'null'
          description: Canonical profile URL on app.dealroom.co.
        links:
          type: object
          properties:
            website:
              type:
                - string
                - 'null'
              description: Website URL.
            linkedin:
              type:
                - string
                - 'null'
              description: LinkedIn profile URL.
            twitter:
              type:
                - string
                - 'null'
              description: Twitter / X profile URL.
            instagram:
              type:
                - string
                - 'null'
              description: Instagram URL or handle.
            angellist:
              type:
                - string
                - 'null'
              description: AngelList URL or handle.
            crunchbase:
              type:
                - string
                - 'null'
              description: Crunchbase profile URL.
          required:
            - website
            - linkedin
            - twitter
            - instagram
            - angellist
            - crunchbase
          description: The entity's own presence on the web; each null when unknown.
        locations:
          type: array
          items:
            type: object
            properties:
              role:
                $ref: '#/components/schemas/LocationRole'
              city:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: City; null when not known.
              state:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: State or region; null when none.
              country:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: Country.
              continent:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: Continent.
              lat:
                type:
                  - number
                  - 'null'
                description: 'Entity coordinates when known, otherwise the city centroid.'
              lon:
                type:
                  - number
                  - 'null'
                description: 'Entity coordinates when known, otherwise the city centroid.'
            required:
              - role
              - city
              - state
              - country
              - continent
              - lat
              - lon
          description: 'Every location: hq, founding, then offices; empty when none.'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/EntityRole'
          description: 'Roles the organization plays: `investor`, `limited_partner`, `fund_manager`.'
        taxonomy:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
                description: Numeric identifier of the tag.
              name:
                type: string
                description: Display name of the tag.
              type:
                $ref: '#/components/schemas/TagType'
            required:
              - id
              - name
              - type
          description: 'Taxonomy terms (industries, sectors, technologies, …); empty when none.'
        launch_date:
          anyOf:
            - $ref: '#/components/schemas/PartialDate'
            - type: 'null'
          description: 'When the organization was founded, at source precision.'
        closing_date:
          anyOf:
            - $ref: '#/components/schemas/PartialDate'
            - type: 'null'
          description: When the organization closed; null while active.
        employees_count:
          type:
            - number
            - 'null'
          description: Number of employees.
        added_at:
          type:
            - string
            - 'null'
          description: When the organization was added to Dealroom (RFC 3339).
        updated_at:
          type:
            - string
            - 'null'
          description: When the record was last modified (RFC 3339).
        subtype:
          type: string
          enum:
            - company
          description: >-
            Organization subtype — one of `company`, `university`, `gov_ngo`, `investor`. Mutually exclusive. Always null for persons.
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/Classification'
          description: Dealroom labels; empty when none.
        employee_count_1y_growth:
          type:
            - number
            - 'null'
          description: 'Year-over-year employee growth, %.'
        status:
          anyOf:
            - $ref: '#/components/schemas/CompanyStatus'
            - type: 'null'
          description: Operational status.
        signal_rating:
          type:
            - number
            - 'null'
          description: Dealroom Signal rating (0-100).
        unicorn_type:
          type:
            - string
            - 'null'
          description: 'Unicorn tier, e.g. "unicorn", "decacorn".'
        became_unicorn_date:
          anyOf:
            - $ref: '#/components/schemas/PartialDate'
            - type: 'null'
          description: When the company reached a $1B valuation.
        became_thoroughbred_date:
          anyOf:
            - $ref: '#/components/schemas/PartialDate'
            - type: 'null'
          description: When the company was verified as a Thoroughbred.
        exit_date:
          anyOf:
            - $ref: '#/components/schemas/PartialDate'
            - type: 'null'
          description: When the company exited (IPO or acquisition).
        investor:
          type:
            - object
            - 'null'
          properties:
            rank:
              type:
                - number
                - 'null'
              description: Dealroom investor ranking (1 = top). Full view only.
            types:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                    description: Tag id.
                  name:
                    type: string
                    description: Display name.
                  code:
                    type: string
                    description: Machine-readable code.
                required:
                  - id
                  - name
                  - code
              description: Investor types; empty when none.
            stages:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                    description: Tag id.
                  name:
                    type: string
                    description: Display name.
                  code:
                    type: string
                    description: Machine-readable code.
                required:
                  - id
                  - name
                  - code
              description: Stages invested in; empty when none.
            deal_size:
              type:
                - object
                - 'null'
              properties:
                min:
                  type:
                    - number
                    - 'null'
                  description: 'Smallest ticket, active currency.'
                max:
                  type:
                    - number
                    - 'null'
                  description: 'Largest ticket, active currency.'
              required:
                - min
                - max
              description: Ticket size range; null when unknown.
            investments:
              type: object
              properties:
                count:
                  type:
                    - number
                    - 'null'
                  description: Investments made.
                total_invested:
                  type:
                    - number
                    - 'null'
                  description: >-
                    Total size of the funding rounds the investor participated in (the full round amounts, not the investor's own ticket), active currency.
                preferred_round:
                  type:
                    - string
                    - 'null'
                  description: 'Most frequent round stage, e.g. `series_a`.'
                last_round_date:
                  anyOf:
                    - $ref: '#/components/schemas/PartialDate'
                    - type: 'null'
                  description: 'Date of the most recent investment round, at source precision.'
              required:
                - count
                - total_invested
                - preferred_round
                - last_round_date
              description: Investment activity.
            portfolio:
              type:
                - object
                - 'null'
              properties:
                rounds_count:
                  type:
                    - number
                    - 'null'
                  description: Funding rounds taken part in.
                total_valuation:
                  type:
                    - number
                    - 'null'
                  description: 'Combined latest valuation of the companies backed, active currency.'
                companies:
                  type: object
                  properties:
                    total:
                      type: integer
                      description: How many exist in total.
                    sort:
                      type: string
                      enum:
                        - '-last_round_date'
                      description: 'The order of `items`, in the sub-resource''s `sort` syntax.'
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          is_lead:
                            type: boolean
                            description: Led at least one of these rounds.
                          rounds_count:
                            type: integer
                            description: Rounds taken part in.
                          last_round_date:
                            anyOf:
                              - $ref: '#/components/schemas/PartialDate'
                              - type: 'null'
                            description: 'Date of the most recent of those rounds, at source precision.'
                          company:
                            $ref: '#/components/schemas/EntityRef'
                        required:
                          - is_lead
                          - rounds_count
                          - last_round_date
                          - company
                      description: 'The first items, in `sort` order.'
                  required:
                    - total
                    - sort
                    - items
                  description: 'Companies backed: the first 10 of `/investors/{id}/portfolio`.'
              required:
                - rounds_count
                - total_valuation
                - companies
              description: Companies backed; detail on the `/portfolio` sub-resource. Full view only.
            exits:
              type:
                - object
                - 'null'
              properties:
                count:
                  type:
                    - number
                    - 'null'
                  description: Portfolio companies that exited.
                total_value:
                  type:
                    - number
                    - 'null'
                  description: 'Combined exit value, active currency.'
                pct:
                  type:
                    - number
                    - 'null'
                  description: 'Share of the portfolio that exited, %.'
              required:
                - count
                - total_value
                - pct
              description: Portfolio exits. Full view only.
            match:
              type:
                - object
                - 'null'
              properties:
                companies_count:
                  type:
                    - number
                    - 'null'
                  description: Portfolio companies matching the request's portfolio filters.
                invested:
                  type:
                    - number
                    - 'null'
                  description: 'Invested in those companies, active currency.'
              required:
                - companies_count
                - invested
              description: >-
                Portfolio companies matching the request's `portfolio_count_*` filters; null when the request carries none. Full view only.
          required:
            - rank
            - types
            - stages
            - deal_size
            - investments
            - portfolio
            - exits
            - match
          description: The organization's investing profile; null unless it invests.
        funding:
          type:
            - object
            - 'null'
          properties:
            total:
              type:
                - number
                - 'null'
              description: 'Total raised, active currency.'
            total_vc:
              type:
                - number
                - 'null'
              description: VC-only share of `total`.
            rounds_count:
              type:
                - number
                - 'null'
              description: Funding rounds recorded.
          required:
            - total
            - total_vc
            - rounds_count
          description: Funding raised; null when no round is recorded.
        valuation:
          type:
            - object
            - 'null'
          properties:
            value:
              type:
                - number
                - 'null'
              description: 'Latest valuation, active currency.'
            year:
              type:
                - number
                - 'null'
              description: Year the valuation was recorded.
            month:
              type:
                - number
                - 'null'
              description: Month (1-12); null when unknown.
          required:
            - value
            - year
            - month
          description: 'Most recent valuation, with the period it applies to.'
        jobs:
          type: object
          properties:
            is_hiring:
              type:
                - boolean
                - 'null'
              description: Currently recruiting.
            open_count:
              type: number
              description: Active job openings; 0 when none.
          required:
            - is_hiring
            - open_count
          description: Hiring status and open roles.
        revenue:
          type:
            - object
            - 'null'
          properties:
            value:
              type:
                - number
                - 'null'
              description: 'Latest revenue, active currency.'
            year:
              type:
                - number
                - 'null'
              description: Year the revenue applies to.
          required:
            - value
            - year
          description: Most recent revenue.
        traffic:
          type:
            - object
            - 'null'
          properties:
            monthly_visits:
              type:
                - number
                - 'null'
              description: Monthly site visits.
            growth_3m:
              type:
                - number
                - 'null'
              description: '% change over 3 months.'
          required:
            - monthly_visits
            - growth_3m
          description: Web traffic (SimilarWeb).
        patents:
          type:
            - object
            - 'null'
          properties:
            count:
              type:
                - number
                - 'null'
              description: Valued patents (PatSnap).
          required:
            - count
          description: Valued patents (PatSnap); detail on the `/patents` sub-resource.
        founders:
          type: object
          properties:
            total:
              type: integer
              description: How many exist in total.
            sort:
              type: string
              enum:
                - '-is_strong_founder,-launch_date'
              description: 'The order of `items`, in the sub-resource''s `sort` syntax.'
            items:
              type: array
              items:
                type: object
                properties:
                  raw_title:
                    type:
                      - string
                      - 'null'
                    description: Job title as recorded.
                  titles:
                    type: array
                    items:
                      type: string
                    description: Normalized job titles.
                  is_founder:
                    type: boolean
                    description: Founded the organization.
                  is_executive:
                    type: boolean
                    description: Holds an executive role there.
                  is_partner:
                    type: boolean
                    description: Holds a partner role there.
                  is_past:
                    type: boolean
                    description: Every role there has ended.
                  start_date:
                    anyOf:
                      - $ref: '#/components/schemas/PartialDate'
                      - type: 'null'
                    description: 'When the first role there started, at source precision.'
                  end_date:
                    anyOf:
                      - $ref: '#/components/schemas/PartialDate'
                      - type: 'null'
                    description: When the last role there ended; null while any is current.
                  person:
                    $ref: '#/components/schemas/FounderRef'
                required:
                  - raw_title
                  - titles
                  - is_founder
                  - is_executive
                  - is_partner
                  - is_past
                  - start_date
                  - end_date
                  - person
              description: 'The first items, in `sort` order.'
          required:
            - total
            - sort
            - items
          description: >-
            Current founders: the first 5 of `/{collection}/{id}/team?role=founder&is_past=false&sort=-is_strong_founder,-launch_date`, strong founders first, so the cap never drops the founder a strong-founder filter matched.
        available:
          type: array
          items:
            $ref: '#/components/schemas/CompanyFullBlock'
          description: >-
            Full-only blocks that hold data for this row, listed even when the caller's tier withholds them.
      required:
        - uuid
        - type
        - domain
        - name
        - tagline
        - about
        - image
        - dealroom_url
        - links
        - locations
        - roles
        - taxonomy
        - launch_date
        - closing_date
        - employees_count
        - added_at
        - updated_at
        - subtype
        - classifications
        - employee_count_1y_growth
        - status
        - signal_rating
        - unicorn_type
        - became_unicorn_date
        - became_thoroughbred_date
        - exit_date
        - investor
        - funding
        - valuation
        - jobs
        - revenue
        - traffic
        - patents
        - founders
        - available
      title: Company
    CompanyStatus:
      type: string
      enum:
        - operational
        - acquired
        - closed
        - low_activity
      description: Operational status of a company.
    FounderRef:
      allOf:
        - $ref: '#/components/schemas/EntityRef'
        - type: object
          properties:
            classifications:
              type: array
              items:
                $ref: '#/components/schemas/PersonClassification'
              description: The founder's Dealroom labels; the glance sorts strong founders first.
          required:
            - classifications
      description: An `EntityRef` plus the founder labels the founders glance is ordered by.
    PersonClassification:
      type: string
      enum:
        - serial_founder
        - super_founder
        - promising_founder
        - strong_founder
      description: 'A Dealroom founder label: the person-applicable subset of `Classification`.'
    CompanyFullBlock:
      type: string
      enum:
        - founders
        - patents
        - revenue
        - traffic
        - portfolio
        - exits
        - match
      description: 'A full-only block of a company row, as `available[]` lists it.'
    EntityUniversity:
      type: object
      properties:
        uuid:
          type: string
          description: Stable UUID of the entity; the sole public identifier.
          example: 345d1ab6-33df-4759-9e17-0d0c0ec9ab1c
        type:
          type: string
          enum:
            - organization
          description: >-
            Top-level entity type — exactly one of `organization` or `person`. For organizations, `subtype` carries the specific kind (company / university / gov_ngo / investor). Persons always have a null `subtype`.
        domain:
          type:
            - string
            - 'null'
          description: 'Registrable domain, e.g. "stripe.com".'
          example: stripe.com
        name:
          type: string
          description: Display name.
          example: Stripe
        tagline:
          type:
            - string
            - 'null'
          description: One-line description.
        about:
          type:
            - string
            - 'null'
          description: Long-form description.
        image:
          type:
            - string
            - 'null'
          description: Absolute logo URL.
        dealroom_url:
          type:
            - string
            - 'null'
          description: Canonical profile URL on app.dealroom.co.
        links:
          type: object
          properties:
            website:
              type:
                - string
                - 'null'
              description: Website URL.
            linkedin:
              type:
                - string
                - 'null'
              description: LinkedIn profile URL.
            twitter:
              type:
                - string
                - 'null'
              description: Twitter / X profile URL.
            instagram:
              type:
                - string
                - 'null'
              description: Instagram URL or handle.
            angellist:
              type:
                - string
                - 'null'
              description: AngelList URL or handle.
            crunchbase:
              type:
                - string
                - 'null'
              description: Crunchbase profile URL.
          required:
            - website
            - linkedin
            - twitter
            - instagram
            - angellist
            - crunchbase
          description: The entity's own presence on the web; each null when unknown.
        locations:
          type: array
          items:
            type: object
            properties:
              role:
                $ref: '#/components/schemas/LocationRole'
              city:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: City; null when not known.
              state:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: State or region; null when none.
              country:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: Country.
              continent:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: Continent.
              lat:
                type:
                  - number
                  - 'null'
                description: 'Entity coordinates when known, otherwise the city centroid.'
              lon:
                type:
                  - number
                  - 'null'
                description: 'Entity coordinates when known, otherwise the city centroid.'
            required:
              - role
              - city
              - state
              - country
              - continent
              - lat
              - lon
          description: 'Every location: hq, founding, then offices; empty when none.'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/EntityRole'
          description: 'Roles the organization plays: `investor`, `limited_partner`, `fund_manager`.'
        taxonomy:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
                description: Numeric identifier of the tag.
              name:
                type: string
                description: Display name of the tag.
              type:
                $ref: '#/components/schemas/TagType'
            required:
              - id
              - name
              - type
          description: 'Taxonomy terms (industries, sectors, technologies, …); empty when none.'
        launch_date:
          anyOf:
            - $ref: '#/components/schemas/PartialDate'
            - type: 'null'
          description: 'When the organization was founded, at source precision.'
        closing_date:
          anyOf:
            - $ref: '#/components/schemas/PartialDate'
            - type: 'null'
          description: When the organization closed; null while active.
        employees_count:
          type:
            - number
            - 'null'
          description: Number of employees.
        added_at:
          type:
            - string
            - 'null'
          description: When the organization was added to Dealroom (RFC 3339).
        updated_at:
          type:
            - string
            - 'null'
          description: When the record was last modified (RFC 3339).
        subtype:
          type: string
          enum:
            - university
          description: >-
            Organization subtype — one of `company`, `university`, `gov_ngo`, `investor`. Mutually exclusive. Always null for persons.
        spinouts_count:
          type:
            - number
            - 'null'
          description: Spinout companies originating from the university.
        investor:
          type:
            - object
            - 'null'
          properties:
            rank:
              type:
                - number
                - 'null'
              description: Dealroom investor ranking (1 = top). Full view only.
            types:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                    description: Tag id.
                  name:
                    type: string
                    description: Display name.
                  code:
                    type: string
                    description: Machine-readable code.
                required:
                  - id
                  - name
                  - code
              description: Investor types; empty when none.
            stages:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                    description: Tag id.
                  name:
                    type: string
                    description: Display name.
                  code:
                    type: string
                    description: Machine-readable code.
                required:
                  - id
                  - name
                  - code
              description: Stages invested in; empty when none.
            deal_size:
              type:
                - object
                - 'null'
              properties:
                min:
                  type:
                    - number
                    - 'null'
                  description: 'Smallest ticket, active currency.'
                max:
                  type:
                    - number
                    - 'null'
                  description: 'Largest ticket, active currency.'
              required:
                - min
                - max
              description: Ticket size range; null when unknown.
            investments:
              type: object
              properties:
                count:
                  type:
                    - number
                    - 'null'
                  description: Investments made.
                total_invested:
                  type:
                    - number
                    - 'null'
                  description: >-
                    Total size of the funding rounds the investor participated in (the full round amounts, not the investor's own ticket), active currency.
                preferred_round:
                  type:
                    - string
                    - 'null'
                  description: 'Most frequent round stage, e.g. `series_a`.'
                last_round_date:
                  anyOf:
                    - $ref: '#/components/schemas/PartialDate'
                    - type: 'null'
                  description: 'Date of the most recent investment round, at source precision.'
              required:
                - count
                - total_invested
                - preferred_round
                - last_round_date
              description: Investment activity.
            portfolio:
              type:
                - object
                - 'null'
              properties:
                rounds_count:
                  type:
                    - number
                    - 'null'
                  description: Funding rounds taken part in.
                total_valuation:
                  type:
                    - number
                    - 'null'
                  description: 'Combined latest valuation of the companies backed, active currency.'
                companies:
                  type: object
                  properties:
                    total:
                      type: integer
                      description: How many exist in total.
                    sort:
                      type: string
                      enum:
                        - '-last_round_date'
                      description: 'The order of `items`, in the sub-resource''s `sort` syntax.'
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          is_lead:
                            type: boolean
                            description: Led at least one of these rounds.
                          rounds_count:
                            type: integer
                            description: Rounds taken part in.
                          last_round_date:
                            anyOf:
                              - $ref: '#/components/schemas/PartialDate'
                              - type: 'null'
                            description: 'Date of the most recent of those rounds, at source precision.'
                          company:
                            $ref: '#/components/schemas/EntityRef'
                        required:
                          - is_lead
                          - rounds_count
                          - last_round_date
                          - company
                      description: 'The first items, in `sort` order.'
                  required:
                    - total
                    - sort
                    - items
                  description: 'Companies backed: the first 10 of `/investors/{id}/portfolio`.'
              required:
                - rounds_count
                - total_valuation
                - companies
              description: Companies backed; detail on the `/portfolio` sub-resource. Full view only.
            exits:
              type:
                - object
                - 'null'
              properties:
                count:
                  type:
                    - number
                    - 'null'
                  description: Portfolio companies that exited.
                total_value:
                  type:
                    - number
                    - 'null'
                  description: 'Combined exit value, active currency.'
                pct:
                  type:
                    - number
                    - 'null'
                  description: 'Share of the portfolio that exited, %.'
              required:
                - count
                - total_value
                - pct
              description: Portfolio exits. Full view only.
            match:
              type:
                - object
                - 'null'
              properties:
                companies_count:
                  type:
                    - number
                    - 'null'
                  description: Portfolio companies matching the request's portfolio filters.
                invested:
                  type:
                    - number
                    - 'null'
                  description: 'Invested in those companies, active currency.'
              required:
                - companies_count
                - invested
              description: >-
                Portfolio companies matching the request's `portfolio_count_*` filters; null when the request carries none. Full view only.
          required:
            - rank
            - types
            - stages
            - deal_size
            - investments
            - portfolio
            - exits
            - match
          description: The organization's investing profile; null unless it invests.
        patents:
          type:
            - object
            - 'null'
          properties:
            count:
              type:
                - number
                - 'null'
              description: Valued patents (PatSnap).
          required:
            - count
          description: Valued patents (PatSnap); detail on the `/patents` sub-resource.
        alumni:
          type:
            - object
            - 'null'
          properties:
            count:
              type:
                - number
                - 'null'
              description: Alumni recorded.
            founders_count:
              type:
                - number
                - 'null'
              description: Alumni who are founders.
            founded_companies_count:
              type:
                - number
                - 'null'
              description: Companies founded by alumni.
            unicorn_companies_count:
              type:
                - number
                - 'null'
              description: Unicorns founded by alumni.
          required:
            - count
            - founders_count
            - founded_companies_count
            - unicorn_companies_count
          description: Alumni counts.
        available:
          type: array
          items:
            $ref: '#/components/schemas/UniversityFullBlock'
          description: >-
            Full-only blocks that hold data for this row, listed even when the caller's tier withholds them.
      required:
        - uuid
        - type
        - domain
        - name
        - tagline
        - about
        - image
        - dealroom_url
        - links
        - locations
        - roles
        - taxonomy
        - launch_date
        - closing_date
        - employees_count
        - added_at
        - updated_at
        - subtype
        - spinouts_count
        - investor
        - patents
        - alumni
        - available
      title: University
    UniversityFullBlock:
      type: string
      enum:
        - alumni
        - patents
        - portfolio
        - exits
        - match
      description: 'A full-only block of a university row, as `available[]` lists it.'
    EntityGovNgo:
      type: object
      properties:
        uuid:
          type: string
          description: Stable UUID of the entity; the sole public identifier.
          example: 345d1ab6-33df-4759-9e17-0d0c0ec9ab1c
        type:
          type: string
          enum:
            - organization
          description: >-
            Top-level entity type — exactly one of `organization` or `person`. For organizations, `subtype` carries the specific kind (company / university / gov_ngo / investor). Persons always have a null `subtype`.
        domain:
          type:
            - string
            - 'null'
          description: 'Registrable domain, e.g. "stripe.com".'
          example: stripe.com
        name:
          type: string
          description: Display name.
          example: Stripe
        tagline:
          type:
            - string
            - 'null'
          description: One-line description.
        about:
          type:
            - string
            - 'null'
          description: Long-form description.
        image:
          type:
            - string
            - 'null'
          description: Absolute logo URL.
        dealroom_url:
          type:
            - string
            - 'null'
          description: Canonical profile URL on app.dealroom.co.
        links:
          type: object
          properties:
            website:
              type:
                - string
                - 'null'
              description: Website URL.
            linkedin:
              type:
                - string
                - 'null'
              description: LinkedIn profile URL.
            twitter:
              type:
                - string
                - 'null'
              description: Twitter / X profile URL.
            instagram:
              type:
                - string
                - 'null'
              description: Instagram URL or handle.
            angellist:
              type:
                - string
                - 'null'
              description: AngelList URL or handle.
            crunchbase:
              type:
                - string
                - 'null'
              description: Crunchbase profile URL.
          required:
            - website
            - linkedin
            - twitter
            - instagram
            - angellist
            - crunchbase
          description: The entity's own presence on the web; each null when unknown.
        locations:
          type: array
          items:
            type: object
            properties:
              role:
                $ref: '#/components/schemas/LocationRole'
              city:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: City; null when not known.
              state:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: State or region; null when none.
              country:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: Country.
              continent:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: Continent.
              lat:
                type:
                  - number
                  - 'null'
                description: 'Entity coordinates when known, otherwise the city centroid.'
              lon:
                type:
                  - number
                  - 'null'
                description: 'Entity coordinates when known, otherwise the city centroid.'
            required:
              - role
              - city
              - state
              - country
              - continent
              - lat
              - lon
          description: 'Every location: hq, founding, then offices; empty when none.'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/EntityRole'
          description: 'Roles the organization plays: `investor`, `limited_partner`, `fund_manager`.'
        taxonomy:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
                description: Numeric identifier of the tag.
              name:
                type: string
                description: Display name of the tag.
              type:
                $ref: '#/components/schemas/TagType'
            required:
              - id
              - name
              - type
          description: 'Taxonomy terms (industries, sectors, technologies, …); empty when none.'
        launch_date:
          anyOf:
            - $ref: '#/components/schemas/PartialDate'
            - type: 'null'
          description: 'When the organization was founded, at source precision.'
        closing_date:
          anyOf:
            - $ref: '#/components/schemas/PartialDate'
            - type: 'null'
          description: When the organization closed; null while active.
        employees_count:
          type:
            - number
            - 'null'
          description: Number of employees.
        added_at:
          type:
            - string
            - 'null'
          description: When the organization was added to Dealroom (RFC 3339).
        updated_at:
          type:
            - string
            - 'null'
          description: When the record was last modified (RFC 3339).
        subtype:
          type: string
          enum:
            - gov_ngo
          description: >-
            Organization subtype — one of `company`, `university`, `gov_ngo`, `investor`. Mutually exclusive. Always null for persons.
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/Classification'
          description: Dealroom labels; empty when none.
        signal_rating:
          type:
            - number
            - 'null'
          description: Dealroom Signal rating (0-100).
        investor:
          type:
            - object
            - 'null'
          properties:
            rank:
              type:
                - number
                - 'null'
              description: Dealroom investor ranking (1 = top). Full view only.
            types:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                    description: Tag id.
                  name:
                    type: string
                    description: Display name.
                  code:
                    type: string
                    description: Machine-readable code.
                required:
                  - id
                  - name
                  - code
              description: Investor types; empty when none.
            stages:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                    description: Tag id.
                  name:
                    type: string
                    description: Display name.
                  code:
                    type: string
                    description: Machine-readable code.
                required:
                  - id
                  - name
                  - code
              description: Stages invested in; empty when none.
            deal_size:
              type:
                - object
                - 'null'
              properties:
                min:
                  type:
                    - number
                    - 'null'
                  description: 'Smallest ticket, active currency.'
                max:
                  type:
                    - number
                    - 'null'
                  description: 'Largest ticket, active currency.'
              required:
                - min
                - max
              description: Ticket size range; null when unknown.
            investments:
              type: object
              properties:
                count:
                  type:
                    - number
                    - 'null'
                  description: Investments made.
                total_invested:
                  type:
                    - number
                    - 'null'
                  description: >-
                    Total size of the funding rounds the investor participated in (the full round amounts, not the investor's own ticket), active currency.
                preferred_round:
                  type:
                    - string
                    - 'null'
                  description: 'Most frequent round stage, e.g. `series_a`.'
                last_round_date:
                  anyOf:
                    - $ref: '#/components/schemas/PartialDate'
                    - type: 'null'
                  description: 'Date of the most recent investment round, at source precision.'
              required:
                - count
                - total_invested
                - preferred_round
                - last_round_date
              description: Investment activity.
            portfolio:
              type:
                - object
                - 'null'
              properties:
                rounds_count:
                  type:
                    - number
                    - 'null'
                  description: Funding rounds taken part in.
                total_valuation:
                  type:
                    - number
                    - 'null'
                  description: 'Combined latest valuation of the companies backed, active currency.'
                companies:
                  type: object
                  properties:
                    total:
                      type: integer
                      description: How many exist in total.
                    sort:
                      type: string
                      enum:
                        - '-last_round_date'
                      description: 'The order of `items`, in the sub-resource''s `sort` syntax.'
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          is_lead:
                            type: boolean
                            description: Led at least one of these rounds.
                          rounds_count:
                            type: integer
                            description: Rounds taken part in.
                          last_round_date:
                            anyOf:
                              - $ref: '#/components/schemas/PartialDate'
                              - type: 'null'
                            description: 'Date of the most recent of those rounds, at source precision.'
                          company:
                            $ref: '#/components/schemas/EntityRef'
                        required:
                          - is_lead
                          - rounds_count
                          - last_round_date
                          - company
                      description: 'The first items, in `sort` order.'
                  required:
                    - total
                    - sort
                    - items
                  description: 'Companies backed: the first 10 of `/investors/{id}/portfolio`.'
              required:
                - rounds_count
                - total_valuation
                - companies
              description: Companies backed; detail on the `/portfolio` sub-resource. Full view only.
            exits:
              type:
                - object
                - 'null'
              properties:
                count:
                  type:
                    - number
                    - 'null'
                  description: Portfolio companies that exited.
                total_value:
                  type:
                    - number
                    - 'null'
                  description: 'Combined exit value, active currency.'
                pct:
                  type:
                    - number
                    - 'null'
                  description: 'Share of the portfolio that exited, %.'
              required:
                - count
                - total_value
                - pct
              description: Portfolio exits. Full view only.
            match:
              type:
                - object
                - 'null'
              properties:
                companies_count:
                  type:
                    - number
                    - 'null'
                  description: Portfolio companies matching the request's portfolio filters.
                invested:
                  type:
                    - number
                    - 'null'
                  description: 'Invested in those companies, active currency.'
              required:
                - companies_count
                - invested
              description: >-
                Portfolio companies matching the request's `portfolio_count_*` filters; null when the request carries none. Full view only.
          required:
            - rank
            - types
            - stages
            - deal_size
            - investments
            - portfolio
            - exits
            - match
          description: The organization's investing profile; null unless it invests.
        funding:
          type:
            - object
            - 'null'
          properties:
            total:
              type:
                - number
                - 'null'
              description: 'Total raised, active currency.'
            total_vc:
              type:
                - number
                - 'null'
              description: VC-only share of `total`.
            rounds_count:
              type:
                - number
                - 'null'
              description: Funding rounds recorded.
          required:
            - total
            - total_vc
            - rounds_count
          description: Funding raised; null when no round is recorded.
        jobs:
          type: object
          properties:
            is_hiring:
              type:
                - boolean
                - 'null'
              description: Currently recruiting.
            open_count:
              type: number
              description: Active job openings; 0 when none.
          required:
            - is_hiring
            - open_count
          description: Hiring status and open roles.
        traffic:
          type:
            - object
            - 'null'
          properties:
            monthly_visits:
              type:
                - number
                - 'null'
              description: Monthly site visits.
            growth_3m:
              type:
                - number
                - 'null'
              description: '% change over 3 months.'
          required:
            - monthly_visits
            - growth_3m
          description: Web traffic (SimilarWeb).
        patents:
          type:
            - object
            - 'null'
          properties:
            count:
              type:
                - number
                - 'null'
              description: Valued patents (PatSnap).
          required:
            - count
          description: Valued patents (PatSnap); detail on the `/patents` sub-resource.
        founders:
          type: object
          properties:
            total:
              type: integer
              description: How many exist in total.
            sort:
              type: string
              enum:
                - '-is_strong_founder,-launch_date'
              description: 'The order of `items`, in the sub-resource''s `sort` syntax.'
            items:
              type: array
              items:
                type: object
                properties:
                  raw_title:
                    type:
                      - string
                      - 'null'
                    description: Job title as recorded.
                  titles:
                    type: array
                    items:
                      type: string
                    description: Normalized job titles.
                  is_founder:
                    type: boolean
                    description: Founded the organization.
                  is_executive:
                    type: boolean
                    description: Holds an executive role there.
                  is_partner:
                    type: boolean
                    description: Holds a partner role there.
                  is_past:
                    type: boolean
                    description: Every role there has ended.
                  start_date:
                    anyOf:
                      - $ref: '#/components/schemas/PartialDate'
                      - type: 'null'
                    description: 'When the first role there started, at source precision.'
                  end_date:
                    anyOf:
                      - $ref: '#/components/schemas/PartialDate'
                      - type: 'null'
                    description: When the last role there ended; null while any is current.
                  person:
                    $ref: '#/components/schemas/FounderRef'
                required:
                  - raw_title
                  - titles
                  - is_founder
                  - is_executive
                  - is_partner
                  - is_past
                  - start_date
                  - end_date
                  - person
              description: 'The first items, in `sort` order.'
          required:
            - total
            - sort
            - items
          description: >-
            Current founders: the first 5 of `/{collection}/{id}/team?role=founder&is_past=false&sort=-is_strong_founder,-launch_date`, strong founders first, so the cap never drops the founder a strong-founder filter matched.
        available:
          type: array
          items:
            $ref: '#/components/schemas/GovNgoFullBlock'
          description: >-
            Full-only blocks that hold data for this row, listed even when the caller's tier withholds them.
      required:
        - uuid
        - type
        - domain
        - name
        - tagline
        - about
        - image
        - dealroom_url
        - links
        - locations
        - roles
        - taxonomy
        - launch_date
        - closing_date
        - employees_count
        - added_at
        - updated_at
        - subtype
        - classifications
        - signal_rating
        - investor
        - funding
        - jobs
        - traffic
        - patents
        - founders
        - available
      title: Government & NGO
    GovNgoFullBlock:
      type: string
      enum:
        - founders
        - patents
        - traffic
        - portfolio
        - exits
        - match
      description: 'A full-only block of a gov/NGO row, as `available[]` lists it.'
    EntityInvestor:
      type: object
      properties:
        uuid:
          type: string
          description: Stable UUID of the entity; the sole public identifier.
          example: 345d1ab6-33df-4759-9e17-0d0c0ec9ab1c
        type:
          type: string
          enum:
            - organization
          description: >-
            Top-level entity type — exactly one of `organization` or `person`. For organizations, `subtype` carries the specific kind (company / university / gov_ngo / investor). Persons always have a null `subtype`.
        domain:
          type:
            - string
            - 'null'
          description: 'Registrable domain, e.g. "stripe.com".'
          example: stripe.com
        name:
          type: string
          description: Display name.
          example: Stripe
        tagline:
          type:
            - string
            - 'null'
          description: One-line description.
        about:
          type:
            - string
            - 'null'
          description: Long-form description.
        image:
          type:
            - string
            - 'null'
          description: Absolute logo URL.
        dealroom_url:
          type:
            - string
            - 'null'
          description: Canonical profile URL on app.dealroom.co.
        links:
          type: object
          properties:
            website:
              type:
                - string
                - 'null'
              description: Website URL.
            linkedin:
              type:
                - string
                - 'null'
              description: LinkedIn profile URL.
            twitter:
              type:
                - string
                - 'null'
              description: Twitter / X profile URL.
            instagram:
              type:
                - string
                - 'null'
              description: Instagram URL or handle.
            angellist:
              type:
                - string
                - 'null'
              description: AngelList URL or handle.
            crunchbase:
              type:
                - string
                - 'null'
              description: Crunchbase profile URL.
          required:
            - website
            - linkedin
            - twitter
            - instagram
            - angellist
            - crunchbase
          description: The entity's own presence on the web; each null when unknown.
        locations:
          type: array
          items:
            type: object
            properties:
              role:
                $ref: '#/components/schemas/LocationRole'
              city:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: City; null when not known.
              state:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
                    description: 'Location id, as accepted by the location filters.'
                  name:
                    type: string
                    description: Location name.
                required:
                  - id
                  - name
                description: State or region; null when none.
              country:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type: number
[...]
